In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from collections import OrderedDict
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification
from sklearn.svm import SVC

In [2]:
dataset = "https://raw.githubusercontent.com/dataprofessor/data/master/penguins_cleaned.csv"
data = pd.read_csv(dataset)
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male
...,...,...,...,...,...,...,...
328,Chinstrap,Dream,55.8,19.8,207,4000,male
329,Chinstrap,Dream,43.5,18.1,202,3400,female
330,Chinstrap,Dream,49.6,18.2,193,3775,male
331,Chinstrap,Dream,50.8,19.0,210,4100,male
332,Chinstrap,Dream,50.2,18.7,198,3775,female

In [3]:
data.head()
data1 = data.drop(columns=['species', 'island'])

data1 : data tanpa species dan island

In [4]:
data2 = data[["species"]]

data2 : data species tok

In [5]:
data2.head(25)

   species
0   Adelie
1   Adelie
2   Adelie
3   Adelie
4   Adelie
5   Adelie
6   Adelie
7   Adelie
8   Adelie
9   Adelie
10  Adelie
11  Adelie
12  Adelie
13  Adelie
14  Adelie
15  Adelie
16  Adelie
17  Adelie
18  Adelie
19  Adelie
20  Adelie
21  Adelie
22  Adelie
23  Adelie
24  Adelie

In [6]:
dataspecies = pd.get_dummies(data2)
dataspecies

     species_Adelie  species_Chinstrap  species_Gentoo
0                 1                  0               0
1                 1                  0               0
2                 1                  0               0
3                 1                  0               0
4                 1                  0               0
..              ...                ...             ...
328               0                  1               0
329               0                  1               0
330               0                  1               0
331               0                  1               0
332               0                  1               0

[333 rows x 3 columns]

dataspecies = data species yang sudah diubah menjadi angka

In [7]:
data3 = data[["island"]]

data3 : data island tok

In [8]:
data3.head(25)

       island
0   Torgersen
1   Torgersen
2   Torgersen
3   Torgersen
4   Torgersen
5   Torgersen
6   Torgersen
7   Torgersen
8   Torgersen
9   Torgersen
10  Torgersen
11  Torgersen
12  Torgersen
13  Torgersen
14  Torgersen
15     Biscoe
16     Biscoe
17     Biscoe
18     Biscoe
19     Biscoe
20     Biscoe
21     Biscoe
22     Biscoe
23     Biscoe
24     Biscoe

In [9]:
dataisland = pd.get_dummies(data3)
dataisland

     island_Biscoe  island_Dream  island_Torgersen
0                0             0                 1
1                0             0                 1
2                0             0                 1
3                0             0                 1
4                0             0                 1
..             ...           ...               ...
328              0             1                 0
329              0             1                 0
330              0             1                 0
331              0             1                 0
332              0             1                 0

[333 rows x 3 columns]

In [10]:
datanumeric = pd.concat([dataspecies, dataisland], axis=1)

In [11]:
Hasil = pd.concat([data1, datanumeric], axis=1)
Hasil

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen
0,39.1,18.7,181,3750,male,1,0,0,0,0,1
1,39.5,17.4,186,3800,female,1,0,0,0,0,1
2,40.3,18.0,195,3250,female,1,0,0,0,0,1
3,36.7,19.3,193,3450,female,1,0,0,0,0,1
4,39.3,20.6,190,3650,male,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
328,55.8,19.8,207,4000,male,0,1,0,0,1,0
329,43.5,18.1,202,3400,female,0,1,0,0,1,0
330,49.6,18.2,193,3775,male,0,1,0,0,1,0
331,50.8,19.0,210,4100,male,0,1,0,0,1,0
332,50.2,18.7,198,3775,female,0,1,0,0,1,0

min max normalisasi

In [12]:
dataNormalisasi = ['bill_length_mm',	'bill_depth_mm',	'flipper_length_mm',	'body_mass_g']
FrameNormalisasi = Hasil[dataNormalisasi]
FrameNormalisasi

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0              39.1           18.7                181         3750
1              39.5           17.4                186         3800
2              40.3           18.0                195         3250
3              36.7           19.3                193         3450
4              39.3           20.6                190         3650
..              ...            ...                ...          ...
328            55.8           19.8                207         4000
329            43.5           18.1                202         3400
330            49.6           18.2                193         3775
331            50.8           19.0                210         4100
332            50.2           18.7                198         3775

[333 rows x 4 columns]

In [13]:
scaler = MinMaxScaler()

In [14]:
scaler.fit(FrameNormalisasi)

MinMaxScaler()

In [43]:
# with open('ScalarMinMax','wb') as r:
#   pickle.dump(scaler,r)

In [15]:
hasilNormalisasi = scaler.transform(FrameNormalisasi)

In [16]:
hasilNormalisasi = pd.DataFrame(hasilNormalisasi,columns = dataNormalisasi)
hasilNormalisasi

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0          0.254545       0.666667           0.152542     0.291667
1          0.269091       0.511905           0.237288     0.305556
2          0.298182       0.583333           0.389831     0.152778
3          0.167273       0.738095           0.355932     0.208333
4          0.261818       0.892857           0.305085     0.263889
..              ...            ...                ...          ...
328        0.861818       0.797619           0.593220     0.361111
329        0.414545       0.595238           0.508475     0.194444
330        0.636364       0.607143           0.355932     0.298611
331        0.680000       0.702381           0.644068     0.388889
332        0.658182       0.666667           0.440678     0.298611

[333 rows x 4 columns]

In [17]:
Hasil = Hasil.drop(columns = dataNormalisasi)
Hasil = pd.concat([Hasil, hasilNormalisasi], axis=1)
Hasil

,sex,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,male,1,0,0,0,0,1,0.254545,0.666667,0.152542,0.291667
1,female,1,0,0,0,0,1,0.269091,0.511905,0.237288,0.305556
2,female,1,0,0,0,0,1,0.298182,0.583333,0.389831,0.152778
3,female,1,0,0,0,0,1,0.167273,0.738095,0.355932,0.208333
4,male,1,0,0,0,0,1,0.261818,0.892857,0.305085,0.263889
...,...,...,...,...,...,...,...,...,...,...,...
328,male,0,1,0,0,1,0,0.861818,0.797619,0.593220,0.361111
329,female,0,1,0,0,1,0,0.414545,0.595238,0.508475,0.194444
330,male,0,1,0,0,1,0,0.636364,0.607143,0.355932,0.298611
331,male,0,1,0,0,1,0,0.680000,0.702381,0.644068,0.388889
332,female,0,1,0,0,1,0,0.658182,0.666667,0.440678,0.298611

In [18]:
percent_amount_of_test_data = 0.3

Menghitung Data
```
# data latih (nilai data)
X_train 

# data tes (nilai data)
X_test 

# data latih (kelas data)
y_train

# data tes (kelas data)
y_test

In [19]:
matrices_X = Hasil.iloc[:,1:11].values
matrices_Y = Hasil.iloc[:,0].values

In [20]:
X1 = Hasil.iloc[:,1:11].values
Y1 = Hasil.iloc[:, 0].values

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X1, Y1, test_size = percent_amount_of_test_data, random_state=0)

In [22]:
X_train.shape

(233, 10)

In [23]:
Y1

array(['male', 'female', 'female', 'female', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'male', 'female',
       'male', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'male', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'male', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'male', 'female',
       'female', 'male', 'female', 'male', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'female', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'female', 'male', 'female',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'female', 'male', 'female', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'male', 'female',
       'female', 'male', 'female', 'male', 'male', 'female', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'female',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'female', 'female', 'male',
       'female', 'male', 'male', 'female'], dtype=object)

In [24]:
### Dictionary to store model and its accuracy

model_accuracy = OrderedDict()

### Dictionary to store model and its precision

model_precision = OrderedDict()

### Dictionary to store model and its recall

model_recall = OrderedDict()

Naive Bayes

In [25]:
naive_bayes_classifier = GaussianNB()
naive_bayes_classifier.fit(X_train, y_train)
Y_pred_nb = naive_bayes_classifier.predict(X_test)

cm = confusion_matrix(y_test, Y_pred_nb)

print('Confusion matrix for Gaussian Naive Bayes\n',cm)

naive_bayes_accuracy = round(100 * accuracy_score(y_test, Y_pred_nb), 2)
model_accuracy['Gaussian Naive Bayes'] = naive_bayes_accuracy

naive_bayes_precision = round(100 * precision_score(y_test, Y_pred_nb, average = 'weighted'), 2)
model_precision['Gaussian Naive Bayes'] = naive_bayes_precision

naive_bayes_recall = round(100 * recall_score(y_test, Y_pred_nb, average = 'weighted'), 2)
model_recall['Gaussian Naive Bayes'] = naive_bayes_recall

print('The accuracy of this model is {} %.'.format(naive_bayes_accuracy))
print('The precision of this model is {} %.'.format(naive_bayes_precision))
print('The recall of this model is {} %.'.format(naive_bayes_recall))

Confusion matrix for Gaussian Naive Bayes
 [[49  6]
 [ 4 41]]
The accuracy of this model is 90.0 %.
The precision of this model is 90.1 %.
The recall of this model is 90.0 %.

In [30]:
Y_pred_nb

array(['female', 'female', 'male', 'male', 'female', 'female', 'male',
       'male', 'male', 'male', 'female', 'male', 'female', 'female',
       'female', 'female', 'female', 'female', 'male', 'female', 'female',
       'female', 'male', 'female', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'male', 'female',
       'male', 'female', 'female', 'female', 'male', 'female', 'female',
       'male', 'female', 'male', 'male', 'female', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'female',
       'female', 'male', 'female', 'female', 'female', 'male', 'female',
       'male', 'female', 'male', 'male', 'male', 'female', 'female',
       'male', 'female', 'male', 'female', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'male', 'male', 'female',
       'female', 'male', 'male', 'female', 'female', 'male', 'male',
       'male', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'male'], dtype='<U6')

In [31]:
clf = GaussianNB()
clf.fit(matrices_X, matrices_Y)
clf_pf = GaussianNB()
clf_pf.partial_fit(matrices_X, matrices_Y, np.unique(matrices_Y))

GaussianNB()

In [32]:
FIRST_IDX = 0

In [39]:
result_test_naive_bayes = clf_pf.predict([[1,	1,	0,	1,	0,	1,	0,	0.666667,	0.152542,	0.291667]])[FIRST_IDX]
print(f"Data Baru SEX :  {result_test_naive_bayes} Pada metode Gaussian Naive Bayes model")

Data Baru SEX :  female Pada metode Gaussian Naive Bayes model

In [26]:
K = 3
knn = KNeighborsClassifier(n_neighbors = K)

knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [27]:
Y_pred_knn = knn.predict(X_test)

In [28]:
knn.score(X_test, y_test)

0.91

In [33]:
# Custom value to predict
result_test_knn = knn.predict([[0,	0,	1,	0,	0,	1,	0.254545,	0.666667,	0.152542,	0.291667]])
print(f"Data Baru Temasuk sex : {result_test_knn[FIRST_IDX]} Pada metode KNN model")

Data Baru Temasuk sex : male Pada metode KNN model

In [42]:
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)
# save the model to disk
filename = 'model_Pinguin_KNN.pkl'
pickle.dump(model, open(filename, 'wb'))

Decision Tree

In [40]:
### Applying Decision Tree Classification model

decision_tree_classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 15)
decision_tree_classifier.fit(X_train, y_train)


### Predicting the Test set results

Y_pred_dc = decision_tree_classifier.predict(X_test)

In [41]:
### Making the confusion matrix
cm = confusion_matrix(y_test, Y_pred_dc)

### Printing the accuracy, precision, and recall of the model
print('Confusion matrix for Decision Tree\n',cm)

decision_tree_accuracy = round(100 * accuracy_score(y_test, Y_pred_dc), 2)
model_accuracy['Decision Tree'] = decision_tree_accuracy

decision_tree_precision = round(100 * precision_score(y_test, Y_pred_dc, average = 'weighted'), 2)
model_precision['Decision Tree'] = decision_tree_precision

decision_tree_recall = round(100 * recall_score(y_test, Y_pred_dc, average = 'weighted'), 2)
model_recall['Decision Tree'] = decision_tree_recall

print('The accuracy of this model is {} %.'.format(decision_tree_accuracy))
print('The precision of this model is {} %.'.format(decision_tree_precision))
print('The recall of this model is {} %.'.format(decision_tree_recall))

Confusion matrix for Decision Tree
 [[44 11]
 [ 4 41]]
The accuracy of this model is 85.0 %.
The precision of this model is 85.9 %.
The recall of this model is 85.0 %.